alembic==1.13.0
asyncpg==0.29.0
click==8.1.7
Faker==20.1.0
fastapi==0.104.1
pydantic==1.10.7
pytest==7.4.3
pytest-asyncio==0.20.1
SQLAlchemy==2.0.12
uvicorn==0.24.0.post1
pydantic[dotenv]==1.10.7
firebase_admin==6.3.0
pre-commit==3.5.0
ruff==0.1.7
black==23.11.0
isort==5.13.0